<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" />
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Halaman Utama</title>
</head>

<body>
  <div class="w3-container w3-cell-row main_home">
    <h1>Deteksi Jenis Kendaraan</h1>
    <div class="w3-container w3-cell pilih_gambar" >
      <h2>Pilih Gambar</h2>
      <div class="w3-container w3-cell-row w3-border input_pic">
        <img id="input-img" src="../picture/input_placeholder.jpg" alt="input image" />
      </div>
      <div class="w3-container w3-cell-row button_section">
        <div class="w3-cell">
          <label for="image-input" class="image-input">
            Choose File
          </label>
          <input type="file" name="file" id="image-input">
          <button id="submit" onclick="upload_file()" type="button">Submit</button>
        </div>
        <button class="w3-button w3-cell w3-blue detect" onclick="detect_image()">Detect</button>
      </div>
    </div>
    <div class="w3-container w3-cell hasil_keluaran">
      <h2>Hasil Deteksi</h2>
      <div class="w3-container w3-cell-row w3-border" style="min-height: 400px">
        <img class="output-img" src="../picture/output_placeholder.png" id="detection" alt="output-img" style="max-width: 100%;"/>
      </div>
    </div>
  </div>
</body>

<script>
  var image_path = ""

  function upload_file() {
    var input = document.querySelector('input[type="file"]')

    var data = new FormData()
    data.append('file', input.files[0])
    data.append('user', 'hubot')

    fetch('/upload', {
      method: 'POST',
      body: data
    }).then((response) => {
      return response.json();
    }).then((result) => {
      document.getElementById("input-img").src = result.result
      image_path = result.result
      console.log(image_path)
    });
  }

  function detect_image(){
    fetch('/detect?image_path='+image_path).then((response) => {
      return response.json();
    }).then((result) => {
      document.getElementById("detection").src = result.result
      //image_path = result.result
      //console.log(image_path)
    });
  }

</script>

</html>