/* Section init font */

@font-face {
    font-family: "Google";
    src: url(../font/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: "FontAwesome";
    src: url(../font/fontawesome-webfont.ttf);
}

/* Section untuk dalam main */

h1{
    font-family: "Google";
    font-size: 48px;
}

h2{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.main_home{
    
}
.title{
    
}
.parent_container{
    display: flex;
}
.pilih_gambar{
    width: 300px;
    margin: 0;
}

.hasil_keluaran{
    
}

/* Section untuk child pilih_gambar */

.input_pic{
    min-height: 200px;
}

#input-img{
    max-width: 100%;
}

input[type=file]{
    display: none;
}

.image-input{
    background-color: rgb(65, 133, 242);
    color: whitesmoke;
    border: 1px solid rgb(65, 133, 242);
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    margin-right: 50px;
    font-family: "Google";
    font-size: 16px;
    transition: 0.4s;
}

.image-input:hover{
    color: rgb(65, 133, 242);
    background-color: whitesmoke;
    border: 1px solid rgb(65, 133, 242);
    transition: 0.4s;
}

#submit{
    background-color: rgb(65, 133, 242);
    color: whitesmoke;
    border: 1px solid rgb(65, 133, 242);
    border-radius: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-family: "Google";
    font-size: 16px;
    transition: 0.4s;    
}

#submit:hover{
    color: rgb(65, 133, 242);
    background-color: whitesmoke;
    border: 1px solid rgb(65, 133, 242);
    transition: 0.4s;
}

.detect{
    background-color: rgb(62, 158, 51);
    color: whitesmoke;
    border: 1px solid rgb(62, 158, 51);
    border-radius: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;

    cursor: pointer;
    font-family: "Google";
    font-size: 16px;
    transition: 0.4s;
}

.detect:hover{
    color: rgb(62, 158, 51);
    background-color: whitesmoke;
    border: 1px solid rgb(62, 158, 51);
    transition: 0.4s;
}

#image-input{
    
}

.button_section{

}

.verticalLine {
    border-left:  solid #000000;
    margin-right: 25px;
    height: 1000px;
}